# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.PeopleOrStarship.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Robota\projekt\PeopleOrStarship\.idea\.idea.PeopleOrStarship\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
