<h1 id="tableLabel">People fight</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!people && people?.length < 2"><em>Loading...</em></p>


<div *ngIf="people">
  <div>
    <mat-card class="example-card" [ngClass]="{'winningCard' : person.won}" *ngFor="let person of people">
      <mat-card-header>
        <mat-card-title>{{person.name}}</mat-card-title>
        <mat-card-subtitle *ngIf="person.won">Winner winner chicken dinner!</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Mass : {{person.mass}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <button type="submit" (click)="fightAgain($event)" title="Fight again!">Fight again!</button>
</div>
